.idea/
*.iml
node_modules/
bower_components/
public/aef-content/theme/default_cache
logs/*
!logs/README.md

.DS_Store
*.db
*.bak
*.tmp
*.cmd
~*

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results

npm-debug.log
.bowerrc
*.sublime-*
projectFilesBackup

# vim-related
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.vimrc
*~

.build
.dist
.tmp

thumb.db
Thumb.db
