#page-join {
  background: #f3f3eb 0px 56px url(//www.go9999.com/assets/img/bg-apply-page.jpg) no-repeat;
  .form-horizontal {
    .control-label {

    }
    .controls{
	input.error,#page-join select.error,#page-join textarea.error{
		border-color:red;
		border-width:1px;
	}
	label.error{
		margin-top:2px; 
		color:red;
	}

    }
  }
}
